/* Hind Madurai font */
.hind-madurai {
  font-family: "Hind Madurai", sans-serif;
  font-style: normal;
}

/* Inter font */

.inter {
  font-family: "Inter", sans-serif;
  font-style: normal;
}

/* Roboto font */

.roboto {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}